.entertainment {
  display: flex;

  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 130px;
  margin-bottom: 170px;
}

.entertainment__description {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  max-width: 590px;
  width: 100%;
}

.entertainment__heading {
  font-family: "Signika", "Arial", "Helvetica", sans-serif;
  font-size: 40px;
  text-align: left;
  color: #c0140b;
  margin-bottom: 12px;
  margin-top: 0;
}

.enternainment__sub-heading {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #397f65;
  margin-bottom: 12px;
  margin-top: 0;
}

.entertainment__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entertainment__content {
  font-size: 16px;

  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
}

.entertainment__content:first-of-type {
  margin-bottom: 22px;
}

.entertainment__iframe-container {
  max-width: 720px;
  width: 100%;
  height: 360px;
}

.entertainment__iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 950px) {
  .entertainment {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .entertainment__description {
    margin-bottom: 24px;
  }

  .entertainment__heading {
    text-align: center;
    font-size: 40px;
  }

  .entertainment__content {
    text-align: center;
  }

  .entertainment__list-item {
    text-align: center;
  }

  .enternainment__sub-heading {
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  .entertainment__description {
    max-width: 400px;
  }

  .entertainment__heading {
    font-size: 32px;
  }

  .entertainment__iframe-container {
    width: 400px;
    height: 200px;
  }
}

@media screen and (max-width: 365px) {
  .entertainment {
    margin-top: 30px;
  }

  .entertainment__description {
    max-width: 280px;
  }

  .enternainment__sub-heading {
    font-size: 16px;
  }

  .entertainment__list-item {
    font-size: 14px;
  }

  .entertainment__content {
    font-size: 14px;
  }

  .entertainment__iframe-container {
    width: 280px;
    height: 180px;
  }
}
