@keyframes light_effect_angry {
  from {
    filter: drop-shadow(0 0 15px rgba(188, 75, 95, 0.3));
  }

  to {
    filter: drop-shadow(0 0 15px rgba(188, 75, 95, 1));
  }
}

@keyframes light_effect_happy {
  from {
    filter: drop-shadow(0 0 15px rgba(244, 193, 89, 0.3));
  }

  to {
    filter: drop-shadow(0 0 15px rgba(244, 193, 89, 1));
  }
}

#map {
  height: 600px;
  width: 100%;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 90px;
}

.map__background {
  width: 100%;
  background-size: 30%;
  background-image: linear-gradient(
      rgba(187, 45, 37, 0.8),
      rgba(224, 76, 64, 0.8)
    ),
    url("../images/background.png");
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
}

.map__heading {
  font-family: "Signika", "Arial", "Helvetica", sans-serif;
  font-size: 40px;

  text-align: center;
  color: #fff;
  max-width: 900px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.map__container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  max-height: 530px;
  height: 100%;
  margin: 50px auto;
}

.map__text {
  max-width: 1000px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 24px 0 46px;
}

.map__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
}

.map__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 460px;
}

.map__name {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
  color: #397f65;
}

.map__image {
  max-width: 150px;
  width: 100%;
  max-height: 150px;
  height: 100%;

  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.map__image_angry {
  animation-name: light_effect_angry;
}

.map__image_happy {
  animation-name: light_effect_happy;
}

.map__distance {
  font-size: 32px;
  font-weight: 700;
  color: #bb2d25;
  margin: 10px 0;
}

.map__algorithm {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .map__heading {
    max-width: 700px;
    margin-top: 20px;
  }

  .map__container {
    margin: 58px auto 28px auto;
    max-height: 570px;
  }

  .map__text {
    max-width: 600px;
    font-size: 16px;
  }

  .map__wrapper {
    max-width: 600px;
  }

  .map__description {
    max-width: 250px;
  }

  .map__name {
    font-size: 14px;
  }

  .map__image {
    max-width: 85px;
    max-height: 85px;
  }

  .map__distance {
    font-size: 20px;
  }

  .map__algorithm {
    font-size: 14px;
  }
}

@media screen and (max-width: 580px) {
  .map__heading {
    font-size: 32px;
    max-width: 450px;
  }

  .map__container {
    margin: 38px auto 28px auto;
    max-height: 570px;
  }

  .map__text {
    max-width: 400px;
  }
  .map__wrapper {
    max-width: 400px;
    justify-content: center;
  }
}

@media screen and (max-width: 365px) {
  .map {
    margin-bottom: 20px;
  }
  .map__background {
    padding-top: 20px;
  }

  .map__heading {
    font-size: 16px;
    max-width: 280px;
  }

  .map__text {
    max-width: 280px;
    font-size: 14px;
  }
}
