.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url("../images/map-background.png") no-repeat;
}

.map__heading {
  font-family: "Signika", "Arial", "Helvetica", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  max-width: 871px;
  width: 100%;
  margin-top: 71px;
  margin-bottom: 0;
}

.map__container {
  display: flex;
  max-width: 1198px;
  width: 100%;
  max-height: 527px;
  height: 100%;
  margin: 75px auto 178px auto;
}

.map__iframe {
  max-width: 1198px;
  width: 100%;
  max-height: 527px;
  height: 100%;
}

@media screen and (max-width: 950px) {
  .map__heading {
    font-size: 32px;
    max-width: 697px;
    margin-top: 54px;
  }

  .map__container {
    margin: 58px auto 28px auto;
    max-height: 571px;
  }
}

@media screen and (max-width: 580px) {
  .map__heading {
    font-size: 25px;
    max-width: 450px;
  }

  .map__container {
    margin: 38px auto 28px auto;
    max-height: 571px;
  }
}
