.popup-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;

  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  padding: 34px 36px 36px;
  border-radius: 10px;
  width: 358px;
}

.popup__text {
  font-size: 16px;

  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.popup__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 600;
  max-width: 140px;
  width: 100%;
  background-image: linear-gradient(
    rgba(187, 45, 37, 0.8),
    rgba(224, 76, 64, 0.8)
  );
  color: #fff;
  border: none;
  border-radius: 10px;
  margin: auto;
  height: 44px;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}

.popup__btn:hover {
  background-image: linear-gradient(rgba(187, 45, 37, 1), rgba(224, 76, 64, 1));
  transform: scale(1.05);
}
