@keyframes light_effect {
  0% {
    filter: drop-shadow(0 0 15px rgba(170, 196, 130, 1));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(244, 193, 89, 1));
  }
  100% {
    filter: drop-shadow(0 0 15px rgba(188, 75, 95, 1));
  }
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 96px;
  width: 100%;
}

.service__description {
  font-family: "Figtree", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  margin: 0 0 50px 0;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 25px;
  max-width: 1004px;
  width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 317px;
  width: 100%;
}

.feature__image {
  max-width: 134px;
  width: 100%;
  max-height: 154px;
  height: 100%;
  margin: 0;
  animation-name: light_effect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.feature__name {
  font-family: "Figtree", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #397f65;
  margin: 16px 0;
}

.feature__description {
  font-family: "Figtree", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .service {
    margin-bottom: 75px;
  }

  .service__description {
    font-size: 16px;
    max-width: 600px;
  }

  .features {
    max-width: 760px;
  }

  .feature {
    max-width: 250px;
  }

  .feature__image {
    max-width: 86px;
    max-height: 100px;
  }

  .feature__image_widther {
    max-width: 103px;
  }

  .feature__description {
    max-width: 250px;
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .service {
    margin-bottom: 40px;
  }

  .service__description {
    font-size: 16px;
    max-width: 400px;
  }

  .features {
    flex-direction: column;
  }
}

@media screen and (max-width: 365px) {
  .service {
    margin-top: 20px;
  }

  .service__description {
    font-size: 12px;
    max-width: 280px;
    margin-bottom: 30px;
  }

  .feature__image {
    max-width: 50px;
  }

  .feature__image_widther {
    max-width: 60px;
  }

  .feature__name {
    font-size: 14px;
  }

  .feature__description {
    font-size: 12px;
  }
}
