.wish-maker {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 115px;
}

.wish-maker__container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  max-width: 755px;
  width: 100%;
}

.wish-maker__heading {
  font-family: "Signika", "Arial", "Helvetica", sans-serif;
  font-size: 40px;

  text-align: left;
  color: #c0140b;
  margin-top: 0;
}

.wish-maker__form-container {
  display: flex;
  justify-content: center;
  max-width: 755px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  background-size: 30%;
  background-image: linear-gradient(
      to bottom right,
      rgba(187, 45, 37, 0.8),
      rgba(224, 76, 64, 0.8)
    ),
    url("../images/background.png");
  border-radius: 20px;
}

.wish-maker__image {
  max-width: 585px;
  width: 100%;
  max-height: 642px;
  height: 100%;
}

@media screen and (max-width: 950px) {
  .wish-maker {
    flex-direction: column;
    margin-top: 84px;
  }

  .wish-maker__container {
    margin-left: 0;
    max-width: 950px;
    width: 100%;
  }

  .wish-maker__heading {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
  }

  .wish-maker__form-container {
    max-width: 950px;
    width: 100%;
    border-radius: 0;
  }

  .wish-maker__image {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .wish-maker {
    margin-top: 35px;
  }

  .wish-maker__heading {
    font-size: 32px;
    text-align: center;
    margin-top: 0;
  }
}

@media screen and (max-width: 365px) {
  .wish-maker {
    margin-top: 20px;
  }

  .wish-maker__heading {
    font-size: 32px;
  }
}
